<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/static/css/le_tuto_entier.css" />
        <style>
            .block_page
            {
               background: url('/static/images/fond_beije.jpg');
            }
        </style>
        <title>Comment crée un beau site</title>
    </head>
        <body>
            <header class="block_page">
                <section>
                    <img class="logo" src="/static/images/mon_logo.jpg" alt="voici mon logo" height='150' widht='100'/>
                    <p></p>
                    <h1><a class="lien_menu" href="accueil">accueil</a></h1>
                    <h1><a class="lien_menu" href="blog">blog</a></h1>
                </section>
                <h1 class="titre">comment crée un site web</h1>
                <br>
                <p>N'avez-vous jamais rêvé de faire votre propre site, votre propre Blog.</p>
                <br>
                <nav>
                    <a href="#1 La base">1 La base</a>
                    <br>
                    <a class="site_cours" href="#1.1 Le bon site pour débutant a installer">1.1 Le bon site pour débutant installer</a>
                    <br>
                    <a class="site_cours" href="#1.2 Le code que nous allons utiliser">1.2 Le code que nous allons utiliser</a>
                     <br>
                    <a class="site_cours" href="#1.3 L'utilité du html">1.3 L'utiliter du html</a>
                    <br>
                    <a class="site_cours" href="#1.4 L'utilité du css">1.4 L'utiliter du html</a>
                    <br>
                    <a href="#2 Commencer a coder du html">2 Commencer a coder du html</a>
                    <br>
                    <a class="site_cours" href="#2.1 comment faire des pargraphes structurer">2.1 Comment faire des pargraphes structurer</a>
                    <br>
                    <a class="site_cours" href="#2.2 Comment mettre des titres">2.2 Comment mettre des titres</a>
                     <br>
                    <a class="site_cours" href="#2.3 Comment mettre des espaces">2.3 Comment mettre des espaces</a>
                    <br>
                    <a class="site_cours" href="#2.4 Crée des liens">2.4 Crée des liens</a>
                    <br>
                    <a class="site_cours" href="#2.5 Insérez des images">2.5 Insérez des images</a>
                    <br>
                    <a class="site_cours" href="#2.6 id et class">2.6 id et class</a>
                    <br>
                    <a href="#commencer a coder du css">3 Commencer a coder du css</a>
                    <br>
                    <a class="site_cours" href="#comment mettre des paragraphes ou autre a diffrérant endroi de la page">3.1 Comment mettre des paragraphes ou autre a diffrérant endroi de la page</a>
                    <br>
                    <a href="#3.2 Comment mettre une couleur de fond à votre site">3.2 Comment mettre une couleur de fond à votre site</a>
                    <br>
                    <a href="#3.3 "></a>
                    <br>
                    <a href="#"></a>
                    <br>
                    <a href="#"></a>
                </nav>
                <h2 id='1 La base'>1. La base</h2>
                <br>
                <h3 id='1.1 Le bon site pour débutant a installer'>1.1 Le bon site pour débutant a installer</h3>
                <br>
                <p>Le bon site pour débutant a installer est sublime texte 2. Il est gratuit et il est super pratique. Il se peut que des fois sublime texte vous demande une petite contribution mais ne vous inquiété pas vous pouvez très bien refuser.</p>
                <h3 id='1.2 Le code que nous allons utiliser'>1.2 Le code que nous allons utiliser</h3>
                <br>
                <p>Nous allons utiliser deux types de codes. Au début il y aura du html, puis ensuite nous utiliserons du css</p>
                <img class="html_css" src="/static/images/image_css_vs_html.jpg" alt="image css vs html">
                <br>
                <h3 id="1.3 L'utilite du html">1.3 L'utilité du html</h3>
                <br>
                <p>Le html lui sert a faire le gros de la page comme écrire le texte de la page les titres les espaces, souligner, surligner, etc.</p>
                <h3 id="1.4 L'utilité du css">1.4 L'utilité du css</h3>
                <br>
                <p>Le css sert a faire en quelque sorte la décos de la page comme mettre un fond en couleur, changer la police des textes, souligner, etc.</p>
                <h2 id='2 Commencer a coder du html'>2 Commencer a coder du html</h2>
                <br>
                <h3 id='2.1 comment faire des pargraphes structurer'>2.1 Comment faire des pargraphes structurer</h3>
                <br>
                <p>Pour commencer à faire du html vous devez enregistré la page en lui donnant un nom de votre choix pius vous devez impérativement terminé par .html sinon votre ordinateur ne va pas comprendre que vous codé du html il faudra faire de même pour css. Ensuite pour faire des paragraphes bien structurer il faut mettre des <> avec un p à l'interieur. Puis écrivez votre texte et finisez par un "<>"  avec à l'interieur un /p pour monter que vous avez finis cette partie du texte. Pour voir votre progression aller sur google et appuyer sur cdm o et cliquer sur votre fichier html.</p>
                <h3 id='2.2 Comment mettre des titres'>2.2 Comment mettre des titres</h3>
                <br>
                <p>Pour mettre des titre il faut tout simplement mettre des balises (<>) avec h1 dedans et finir avec des balises avec /h1. Il y a différante taille de titre il y a les h1 (les plus gros), les h2 qui sont un peut plus petit que les h1, les h3 qui sont plus petit que les h2, etc</p>
                <h3 id='2.3 Comment mettre des espaces'>2.3 Comment mettre des espaces</h3>
                <br>
                <p>pour mettre des espaces rien de plus simple que de mettre 1 balises(<>) avec br. Avec la balise br nous n'avons pas besoins de terminer par une balise /br.</p>
                <h3 id='2.4 Crée des liens'>2.4 Crée des liens</h3>
                <br>
                <p>Crée des lien est un peut plus compliquer,  il faut mettre des balises avec a l'interieur <'a href="votre nom de fichier">ici vous écrivé ce qu'il affiche en bleu<'/a> et voilà vous avez appris la base du html mais seulement la base car pour avencer il vous faut écrire la même chos que sur la photo qui est afficher juste en dessou, si c'est trop petit cliquer dessue. Pour mettre tous ce qui est du texte les titre(h1, h2, ...). Et la balise head sert a mettre le titre de la page, ect.</p>
                <a href="/static/images/base_html_big.jpg"><img src="/static/images/base_html_mini.jpg" alt="base a écrire pour faire une page html" height='150' widht='100'></a>
                <h3 id='2.5 Insérez des images'>2.5 Insérez des images</h3>
                <br>
                <p>Pour que vous insériez des images il faut que vous marquiez dans des balises <'img src=" le dossier/le nom de l'image" alt="la description de l'image pour les robots et les aveugles"'> mais avant de faire le grand saut des images il faut savoir qu'il y a trois types d'images le .jpg donc les photo dans l'ensemble, le .png donc tous se qui est des illustration, des logos et des dessins, effin il nous reste le gif qui est pour toute les illustrations animé</p>
                <h3 id='2.6 id et class'>2.6 id et class</h3>
                <br>
                <p>id et class ne sont pas dans des balises mais a l'interieur d'autre balise, oui s'est compliquer dit comme cela mais regarder l'exemple ci-dessoue et vous comprendrez mieux, ici il est question des class. Pour faire simple les class sont faite pour donner un nom a plusieur balise comme sur l'image. alors que les id sont fait pour que une seule balise est ce nom.</p>
                <img src="/static/images/exemple_class.jpg" alt="exemple de class">
                <img src="/static/images/exemple_id.jpg" alt="exemple d'id">
                <h2>3. Commencer a coder du css</h2>
                <br>
                <h3>3.1 Comment mettre des paragraphe ou autre a différant endroi de la page</h3>
                <br>
                <p>Pour commencer il faut que vous marquier la même chose que sur l'image en-dessoue de la balise <'meta charset="UTF-8"'>. Vous devrez enregistrez votre page en .css, ensuite sue cette page de css vous marquerez le nom de votre balise comme a pour les liens ou p pour les paragraphe, etc. Puis vous appuirez sue les touches suivantes: cdm, maj et 5, il y aura des majuscule comme ceci {} à l'interieur vous mettrez text-align: center (pour mettre au centre), right(pour mettre à droite) et left(pour mettre à gauche).</p>
                <h3>3.2 Comment mettre une couleur de fond à votre site</h3>
                <br>
                <p>pour mettre une couleur de fond a votre site vous devez mettre dans votre page css header puis un espace et des {} à l'interieur vous devrez mettre  background-color: black; . vous pouvez essayer votre couleur de fond de votre site sera de la couleur de vote choix. Mais attention les couleur doivent êtres en anglais sinon la page de code ne comprendra pas et vous mettra du blanc. Pour finir, je vais vous montrez comment mettre une image en fond pour cela il faut mettre à la place de background-color: black; background: url('votre nom de dossier'). Maintenant pour retenir tous cela il vous faudra un petit exercice : 
                    pour cette exercice vous devrez premièrement mettre votre fond en noir puis mettre vos pargraphe en blanc.
                Cet exercice est corrigé mais faite le et vous serez devenue quelqu'un qui connait bien les bases.</p>
                <a href='' src=''> </a>
            </header>
        </body>
</html>